body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.clock {
    display: flex;
}

.clock div {
    margin: 10px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background: #4a148c;
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.clock .text {
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #311b92;
    opacity: 0.9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: #1b5e20;
    opacity: 0.9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
